@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome BooknGo</h1>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Bookings">Over View</a>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="CreateEditBooking">Add Booking</a>




</div>
